# Keys
.env
.env.*
.hf_token
*.key
*.token
secrets/

# Python
.conda/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
*.py[cod]
ENV/
venv/

# Editors
.DS_Store
.idea/
.vscode/

# Data
archive/
archive temp/
data/batches/
data/label/
data/process/
html/
results/semantics
results/semantics/**/*.npy
results/semantics/**/*.pkl

# Logs
*.log

# LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc